<component name="libraryTable">
  <library name="spring-data-commons-1.11.0.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-data-commons-1.11.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-data-jpa-1.9.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>